trunk/Clarity_Suite/RoboticInstruments/Service References/AlarmServer/AlarmNotifier6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Robot_Alarm" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Robot_Alarm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InstrumentStatus">
    <xs:sequence>
      <xs:element name="Status" nillable="true" type="xs:string" />
      <xs:element name="TimeCreated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstrumentStatus" nillable="true" type="tns:InstrumentStatus" />
  <xs:complexType name="AlarmState">
    <xs:sequence>
      <xs:element name="AlarmOn" type="xs:boolean" />
      <xs:element name="TimeTurnedOn" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmState" nillable="true" type="tns:AlarmState" />
</xs:schema>