Growth_Curve_Software/RoboticInstruments/Service References/AlarmServer/AlarmNotifier21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Microsoft.ServiceModel.Samples" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlarmNotifier" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://Microsoft.ServiceModel.Samples" location="http://140.247.90.36:8001/AlarmNotifier?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IAlarm" type="i0:IAlarm">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInstrumentStatus">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/GetInstrumentStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmStatus">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/GetAlarmStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnOnAlarm">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/TurnOnAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnOffAlarm">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/TurnOffAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/UpdateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCameraImage1">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/GetCameraImage1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCameraImage2">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/GetCameraImage2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCameraImage1">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/SetCameraImage1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCameraImage2">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/SetCameraImage2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnJPEGCamera1">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/ReturnJPEGCamera1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnJPEGCamera2">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/ReturnJPEGCamera2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageHeight">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/GetImageHeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageWidth">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/GetImageWidth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyLoadedProtocolNames">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/GetCurrentlyLoadedProtocolNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentlyLoadedProtocolNames">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/SetCurrentlyLoadedProtocolNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOperation">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/UpdateOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperation">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/GetOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateProtocol">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/ValidateProtocol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidationTimeOfProtocol">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/GetValidationTimeOfProtocol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestNumbers">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/TestNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallConnects">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/CallConnects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isVerified">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/isVerified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addToVerified">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IAlarm/addToVerified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlarmNotifier">
    <wsdl:port name="BasicHttpBinding_IAlarm" binding="tns:BasicHttpBinding_IAlarm">
      <soap:address location="http://140.247.90.36:8001/AlarmNotifier/AlarmNotifier" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>