Growth_Curve_Software/RoboticInstruments/Service References/AlarmServer/AlarmNotifier6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTupleOfstringstringstringint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfstringstringstringint" nillable="true" type="tns:TupleOfstringstringstringint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfstringstringstringint" nillable="true" type="tns:ArrayOfTupleOfstringstringstringint" />
  <xs:complexType name="TupleOfstringstringstringint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{3}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="xs:string" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
      <xs:element name="m_Item3" nillable="true" type="xs:string" />
      <xs:element name="m_Item4" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfstringstringstringint" nillable="true" type="tns:TupleOfstringstringstringint" />
</xs:schema>